* {
    border: border-box;
    font-family: 'Avenir Next', sans-serif;
}
#desc {
    float: left;
    margin: 0 auto;
margin-bottom: 2rem;
    max-width: 40rem;
    background-color: #e3e3e3;
    border: 0.25px #000 solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    box-shadow: #000 0px 0px 20px;
    transition: 0.2s;
}
#desc:hover {
    padding: 2rem;
    box-shadow: #000 0px 5px 30px;
}
#submit_form {
    background-color: #e3e3e3;
    border: 0.25px #000 solid;
    margin-left: 2rem;
    margin-top: 1rem;
    margin: 0 auto;
    float: left;
    padding: 1rem;
    box-shadow: #000 0px 0px 20px;
    max-width: 40.25rem;
    transition: 0.2s;
}
#submit_form:hover {
    padding: 2rem;
    box-shadow: #000 0px 0px 35px;
}
#minor {
    color: 	green;
    text-shadow: #000 1px 0px 2px; /*colour, x-offset, y-offset, blur radius*/
}
#moderate {
    color: yellow;
    text-shadow: #000 1px 0px 2px;
}
#major {
    color: orange;
    text-shadow: #000 1px 0px 2px;
}
#game_breaking {
    color: red;
    text-shadow: #000 1px 0px 2px;
}
#bug_severity {
    width: 15rem;
}
#debug_info {
    width: 40rem;
    height: 7rem;
    border: #000 0.25px solid;
    box-shadow: inset #000 0px 0px 5px;
    transition: 0.2s;
}
#debug_info:hover {
    box-shadow: inset #000 0px 0px 15px;
}
#details {
    width: 40rem;
    height: 7rem;
    border: #000 0.25px solid;
    box-shadow: inset #000 0px 0px 5px;
    transition: 0.2s;
}
#details:hover {
    box-shadow: inset #000 0px 0px 15px;
}
h1 {
    background-color: #a3a3a3;
    padding: 1rem;
    border: 0.25px solid #000;
    box-shadow: inset #000 0px 0px 7px;
    transition: 0.2s;
}
h1:hover {
    box-shadow: inset #000 0px 0px 15px;
}
#email_input {
    width: 17rem;
    height: 1.35rem;
    border: solid #000 0.25px;
}