body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://www.itl.cat/pngfile/big/0-7755_nature-pier-bridge-d-river-water-sunset-night.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 50, 0.5);
}

.wrapper {
  width: 800px;
  height: 600px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.wrapper .btn {
  width: 100%;
  border: 1px solid #000096;
  padding: 10px;
  border-radius: 100px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  color: #000096;
}
.wrapper lable {
  font-size: 14px;
  color: grey;
  width: 50%;
}
.wrapper .input {
  width: 100%;
  border: 1px solid #000096;
  border-radius: 40px;
  padding: 15px 0 15px 15px;
  margin: 10px 0px;
  box-sizing: border-box;
}
.wrapper .send {
  background-color: #000096;
  color: white;
}
.wrapper .side .text-wrapper {
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .side.left {
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  position: absolute;
  top: 0;
  background-image: url(http://images2.fanpop.com/image/photos/13700000/rainy-deck-beautiful-places-13747509-1280-1024.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper .side.left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 150, 0.3);
}
.wrapper .side.right {
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
.wrapper .reg-mask {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  opacity: 0;
  z-index: -1;
  left: 800px;
}
.wrapper .reg-mask.show-reg-mask {
  opacity: 1;
  z-index: 100;
  left: 0;
}
.wrapper .reg-mask .text-wrapper {
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  box-sizing: border-box;
}
.wrapper .reg-mask .text-wrapper lable {
  float: left;
}
.wrapper .reg-mask .text-wrapper .name-input {
  width: 48%;
  float: left;
  box-sizing: border-box;
}
.wrapper .reg-mask .text-wrapper .lastname-input {
  width: 48%;
  float: right;
  box-sizing: border-box;
}
.wrapper .reg-mask .text-wrapper .email-input .input {
  width: 100%;
  box-sizing: border-box;
}
.wrapper .reg-mask .text-wrapper .pw-input {
  width: 48%;
  float: left;
}
.wrapper .reg-mask .text-wrapper .pw2-input {
  width: 48%;
  float: right;
  box-sizing: border-box;
}
.wrapper .reg-mask .text-wrapper .send {
  width: 48%;
  float: right;
  box-sizing: border-box;
}
.wrapper .reg-mask .text-wrapper .login-redirect {
  position: absolute;
  bottom: -50px;
  right: 30px;
  text-align: right;
}
.wrapper .reg-mask .text-wrapper .login-redirect span {
  text-decoration: underline;
  cursor: pointer;
}